.advantages {
  background: #f2f2f2;
  justify-content: center;
  .list {
    .list-element {
      align-items: flex-start;
      justify-content: space-between;
      height: 260px;
      .el-title{
        .icon{
            width: 50px;
            height: 50px;
            border-radius: 19px;
            margin-bottom: 20px;
            img{
                width: 25px;
                height: 25px;
            }
        }
        h5 {
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 22px;
            color: #2F281E;
          }
      } 
      .el-text p {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        line-height: 26px;
        font-size: 16px;
        vertical-align: top;
        color: #544837;
      }
      .more a {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        line-height: 26px;
        font-size: 16px;
        color: #544837;
        transition: all 0.3s;
        &:hover{
          color: #FFC43B;
        }
      }
    }
  }
}
