.Hero-button {
  margin-top: 50px;
  button {
    width: 255px;
  }
}
.hero-text{
  width: 550px;
  h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    line-height: 85px;
    font-size: 74px;
    text-align: left;
    color: #2F281E;
    margin-bottom: 35px;
  }
  p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    line-height: 31px;
    font-size: 24px;
    text-align: left;
    color: #544837;
  }
}

.hero-img{
  .image{
    background: url("/public/Hero/Miroodles Color Composition.png") no-repeat center center;
    background-size: contain;
  }
}


.hero {
  justify-content: center;
  max-width: 1600px;
  .container{
    width: 90%
  }
}